<div class="container-fluid">
  <mat-toolbar color="primary">
    <span style="cursor: pointer">Student Details</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <br>
  <br>
  <div class="row" *ngIf="loadingStatus === 'FETCHED_USER_SUCCESS'">
    <mat-card style="width: 100%">
      <form [formGroup]="registerForm" (ngSubmit)="onUpdateStudent(registerForm)" style="color: black">
        <mat-form-field [hintLabel]="'Enter Student Name.'" class="field-width" appearance="outline">
          <mat-label>Student Name</mat-label>
          <input matInput type="text" formControlName="studentName">
          <mat-error *ngIf="registerForm.get('studentName').errors?.required">
            {{studentNameRequired}}</mat-error>
        </mat-form-field>
        <br><br>

        <mat-form-field [hintLabel]="'Enter Student Surname.'" class="field-width" appearance="outline">
          <mat-label>Student Surname</mat-label>
          <input matInput type="text" formControlName="studentSurname">
          <mat-error *ngIf="registerForm.get('studentSurname').errors?.required">
            {{studentSurnameRequired}}</mat-error>
        </mat-form-field>
        <br><br>

        <mat-form-field class="my-textarea" appearance="outline">
          <mat-label>Student Residential Address</mat-label>
          <textarea [rows]="3" matInput type="text" formControlName="studentResidentialAddress"></textarea>
          <mat-hint align="start">{{'Enter Student Residential Address'}}</mat-hint>
          <mat-error *ngIf="registerForm.get('studentResidentialAddress').errors?.required">
            {{studentResidentialAddressRequired}}</mat-error>
        </mat-form-field>
        <br><br>

        <mat-form-field class="field-width" appearance="outline">
          <mat-label>Student Contact Details</mat-label>
          <input matInput type="text" formControlName="studentContactDetails">
          <mat-hint align="start">{{'Enter Student Contact Details'}}</mat-hint>
          <mat-error *ngIf="registerForm.get('studentContactDetails').errors?.required">
            {{studentContactDetailsRequired}}</mat-error>
        </mat-form-field>
        <br><br>

        <mat-form-field class="field-width" appearance="outline">
          <mat-label>Student Registered Course</mat-label>
          <input matInput type="text" formControlName="studentRegisteredCourse">
          <mat-hint align="start">{{'Enter Student Registered Course'}}</mat-hint>
          <mat-error *ngIf="registerForm.get('studentRegisteredCourse').errors?.required">
            {{studentRegisteredCourseRequired}}</mat-error>
        </mat-form-field>
        <br><br>

        <button [hidden]="loadingStatus === 'LOADING'"
                (click)="onRemoveStudent()"
                [disabled]="registerForm.invalid"
                class="btn btn-dark submit-button" type="button">Remove Student
        </button>

        <button [hidden]="loadingStatus === 'LOADING'"
                [disabled]="registerForm.invalid"
                class="btn btn-dark submit-button" style="margin-left: 50px;" type="submit">Update Student Details
        </button>
        <br><br>
        <div style="margin-left: 5%;" *ngIf="loadingStatus === 'LOADING'">
          <mat-spinner [strokeWidth]="5" [diameter]="40"></mat-spinner>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="text-center text-info" *ngIf="loadingStatus === 'FETCHING_USER'">
    <mat-spinner style="margin: 0 auto;" [strokeWidth]="7" [diameter]="80"></mat-spinner>
    <br>
    Loading student information...
  </div>
</div>
