<div class="row">
  <mat-card>
    <h1>Registered student list</h1>
    <mat-accordion displayMode="default" [hideToggle]="true" style="width: 90%;">
      <mat-expansion-panel *ngFor="let student of students" [routerLink]="['../student-details']">
        <br>
        <mat-expansion-panel-header>
          <div class="col-md-8">{{student.studentName}} {{student.studentSurname}}</div>
          <div class="col-sm-1">Expand</div>
          <br>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
      <br>
  </mat-card>
</div>
